*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
}
img{
  padding: 20px;
}
.wrapper{
  display: flex;
  align-items: center;
}

.second-img-wrap{
  width: 300px;
  height: 300px;
  overflow: hidden; 
  border-radius: 50%;
}
.second-img{
  display: none;
}
.first-img-wrap{
  cursor: zoom-in;
}

/* SECOND TASK  */

.second-task{
  width: 100vw;
  height: 500px;
  background-color: #ef404d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.textarea-input{
  border-radius: 10px;
}


/* THIRD TASK  */

.third-task{
  background-color: #F59075;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-wrapper{
  background-color: #fff;
  padding: 70px 100px;
  border-radius: 10px;
}
.range-input{
  width: 600px;
}
.num-info{
  font-weight: 600;
  font-size: 20px;
}